<div class="flex flex-col md:flex-row- w-full h-full p-4 rounded-xl bg-lightDark justify-between reveal">

    <!-- TEXT -->
    <p class="text-lg text-dark">{{reveiw?.content}}</p>

    <!-- FIRST LINE -->
    <div class="flex h-14 space-x-3">
        <!-- IMAGE -->
         <img src="assets/images/avatars/avatar-2.jpg" alt=""
            class="h-full w-14 aspect-square rounded-full">

        <!-- TEXT CONTAINER -->
        <div class="flex flex-col space-y-2 h-14">
            <p class="text-lg text-dark leading-none">{{reveiw?.name}}</p>
            <p class="text-md text-gray-400 italic">{{reveiw?.position}}</p>
        </div>
    </div>
</div>
