<!-- FOOTER -->
<footer class="bg-primary_light flex flex-col space-y-2">
    <!-- SOCIAL LINKS CONTAINER -->
    <div class="w-full
        container flex flex-col-reverse
        justify-between px-6 py-10
        mx-auto space-y-8 md:flex-row
        md:space-y-0 md:space-x-12">

        <!-- LOGO AND SOCIAL MEDIAS -->
        <div class="mt-8 md:mt-0
            flex flex-col -reverse md:w-1/3
            items-center justify-between
            space-y-4 md:flex-col h-full
            md:space-y-12 md:items-start">

            <!-- COPYRIGHT -->
            <!-- <p class="text-lightGray md:hidden mt-4">CopyRight &copy;
                2024 All Right reserved</p> -->

            <div class="flex flex-col items-center md:items-start">
                <!-- LOGO -->
                <div class="mb-2 items-center">
                    <img src="../assets/icons/logos/noraco_w.png" alt class="h-10">
                </div>

                <p class="text-light text-center md:text-left text-md-start text-sm md:text-lg w-full mt-4">
                    Agence de communication globale aux racines digitales. Nous transformons vos idées en stratégies performantes pour maximiser votre impact.
                </p>
            </div>

            <!-- SOCIAL MEDIAS -->
            <div class="
                w-auto
                flex flex-row
                space-x-4">

                <!-- SOCIAL 1 -->
                <a href class="hover:text-primary">
                    <i class="fa fa-youtube-play fa-lg text-light hover:text-primary"></i>
                </a>

                <!-- SOCIAL 2 -->
                <a href class="hover:text-primary">
                    <i class="fa fa-facebook fa-lg text-light hover:text-primary"></i>
                </a>

                <!-- SOCIAL 3 -->
                <a href class="hover:text-primary">
                    <i class="fa fa-instagram fa-lg text-light hover:text-primary"></i>
                </a>

                <!-- SOCIAL 4 -->
                <a href class="hover:text-primary">
                    <i class="fa fa-twitter fa-lg text-light hover:text-primary"></i>
                </a>

                <!-- SOCIAL 5 -->
                <a href class="hover:text-primary">
                    <i class="fa fa-linkedin fa-lg text-light hover:text-primary"></i>
                </a>
            </div>
        </div>

        <!-- LIST CONTAINER -->
        <div class="grid grid-cols-2 md:grid-cols-3- gap-4 md:gap-24 justify-start md:justify-around">

            <!-- LIST 1 -->
            <div class="flex flex-col space-y-3 text-light">
                <h3 class="font-bold font-orbitron text-light text-xl">MENU</h3>
                <a href="#hero" class="hover:text-orange-800">Accueil</a>
                <a href="#work" class="hover:text-orange-800">Réalisations</a>
                <a href="#services" class="hover:text-orange-800">Services</a>
                <a href="#contact" class="hover:text-orange-800">Contact</a>
                <a href="#about" class="hover:text-orange-800">À Propos de Nous</a>
            </div>

            <!-- LIST 2 -->
            <div class="flex flex-col space-y-3 text-light">
                <h3 class="font-bold font-orbitron text-light text-xl">SERVICES</h3>
                <a href="#" class="hover:text-orange-800">Community Management</a>
                <a href="#" class="hover:text-orange-800">Social Media</a>
                <a href="#" class="hover:text-orange-800">Conseil en Stratégie Digitale</a>
                <a href="#" class="hover:text-orange-800">Communication et Marketing Digital</a>
                <a href="#" class="hover:text-orange-800">SEO et SEA</a>
            </div>

        </div>

        <!-- NEWS LETTER -->
        <div class="flex flex-col space-y-3 text-light">
            <h3 class="font-bold font-orbitron text-light text-xl">Newsletter</h3>
            <p class="text-sm">Restez informé de nos dernières nouvelles</p>
            <div class="flex flex-row space-x-0 bg-secondary_light rounded-full px-1 py-1">
                <input class="
                    w-full h-12 rounded-3xl pl-4
                    focus:border-none bg-transparent
                    focus:outline-none
                    text-light
                    " type="email" placeholder="Adresse électronique" />
                <button class="bg-light text-dark rounded-full px-4 py-2 hover:opacity-80">
                    S'abonner
                </button>
            </div>

            <!-- COPYRIGHT -->
            <p class="hidden text-gray-400 md:block mt-32">Made with
                &hearts; by AllDotPy Inc</p>
        </div>

    </div>

    <div class="
        flex justify-center
        items-center py-2
        space-x-4 mb-2 h-12
        bg-primary_light">

        <!-- COPYRIGHT -->
        <p class=" text-gray-400 md:block">CopyRight
            &copy; Noraco 2025 All Right reserved</p>
    </div>
</footer>
