<!-- MAIN -->
<main>
    <!-- HEADER -->
    <app-header></app-header>

    <!-- HERO SECTION -->
    <app-hero></app-hero>

    <!-- ABOUT SECTION -->
    <app-about></app-about>

    <!-- SERVICES SECTION -->
    <app-services></app-services>

    <!-- WORKS SECTION -->
    <app-works></app-works>

    <!-- TEAM SECTION -->
    <app-team></app-team>

    <!-- REVIEWS SECTION -->
    <app-reviews></app-reviews>

    <!-- PROJECTS SECTION -->
    <!-- <app-projects></app-projects> -->


    <!-- FAQ SECTION -->
    <!-- <app-faq></app-faq> -->

    <!-- CONTACT SECTION -->
    <app-contact></app-contact>
</main>

<!-- FOOTER -->
<app-footer></app-footer>

<!-- TOASTER -->
<ng-toast></ng-toast>
